.DS_Store
.idea
*.log
tmp/
*.iml

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache
/data
/.lsp
/pg
/.env
.clj-kondo/
/resources/raw
