center {
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

word {
  display: flex;
  justify-content: center;
}

letter-box {
    background: #8CA5BA;
    width: 46px;
    height: 46px;
    position: relative;
    margin: 1px;
}

letter-box.miss {
    background: #8CA5BA;
}

letter-box.match {
    background: #90be6d;
}

letter-box.contains {
    background: #f9c74f;
}

letter {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 36px;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.mtop-50 {
    margin-top: 50px;
}

.info-box {
  text-align: left;
  padding: 5px;
  border: 5px solid #277da1;
  border-radius: 5px;
}

.stat-box {
  text-align: center;
  padding: 5px;
  border: 3px solid #4D908E;
  border-radius: 5px;
}

word2 {
  display: flex;
}

.r {
  display: flex;
  justify-content: right;
}

.error {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  background-color: #f9844a;
  border: 1px solid #f9844a;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
